<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qxy.community.dao.CommentMapper">
    <sql id="selectFields">
        id,user_id,entity_type,entity_id,target_id,content,status,create_time
    </sql>
    <select id="queryCommentsByEntity" resultType="com.qxy.community.entity.Comment">
        select <include refid="selectFields"></include>
        from comment
        where status=0
        and entity_type=#{entityType}
        and entity_id=#{entityId}
        order by create_time asc
        limit #{offset},#{rowCnt}
    </select>
    <select id="queryCommentsTotal" resultType="java.lang.Integer">
        select count(1)
        from comment
        where status=0
        and entity_type=#{entityType}
        and entity_id=#{entityId}
    </select>
</mapper>